<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a style="margin-top: -20px;" href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/logo-light.svg" alt="">
                </a>
                <p style="margin-top: -10px;" class="text-center">Your Social Campaigns</p>
                <form action="/userRegister" method="post">
                  <div class="mb-2">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname">
                  </div>
                  <div class="mb-2">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                  </div>
                  <div class="mb-2">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email1" name="email">
                  </div>
                  <div class="mb-2">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
                  <div class="mb-4">
                    <label for="Contact" class="form-label">Contact</label>
                    <input type="number" oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10)" class="form-control" id="cono1" name="contact">
                  </div>

                  <input hidden type="file" name="image" accept="image/*" />
                  <input type="hidden" id="task" name="task" value="Security Audit">
                  <input type="hidden" id="category" name="category" value="Low">
                  <input type="hidden" id="message" name="message" value="Welcome">
                  
                  <a href="" class="btn btn-primary w-100 py-8 fs-4 mb-4">
                    <button type="submit" style="background: none; border: none; color: white; font-size: 20px; font-weight: bold;">Sign Up</button>
                  </a>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="/">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>