<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Edit Data In Express JS</h1>
        <br>
        <form action="/updateData" method="post">
            <input hidden type="text" value="<%=singleData.id%>" name="id">

            <input type="text" value="<%=singleData.name%>" placeholder="Name..." name="name">
            <input type="text" value="<%=singleData.subject%>" placeholder="Subject..." name="subject">

            <button type="submit">Update Data</button>
        </form>
    </center>
</body>
</html>